<div class="container">
  <br />
  <button (click)="showBasic = !showBasic" class="btn btn-primary">
    Basic Form Example
  </button>
  <app-form-basic *ngIf="showBasic"></app-form-basic>
</div>
<div class="container">
  <hr />
  <button (click)="showAssignment = !showAssignment" class="btn btn-info">
    Assignment Six
  </button>
  <app-assignment-six *ngIf="showAssignment"></app-assignment-six>
</div>
<div class="container">
  <hr />
  <button (click)="showReactive = !showReactive" class="btn btn-success">
    Reactive Form Example
  </button>
  <app-form-reactive *ngIf="showReactive"></app-form-reactive>
</div>
